<mat-card>
    <table class="userTable">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="addUserButton" mat-fab color="primary" matTooltip="Add User"
    matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>